* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* background-color: #e4e4e4; */
  background-color: #090909;
  overflow-x: hidden;
  /*  height: 100%; */
}

.dflex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  
}

.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 58px;
  padding: 0 20px;
  position: absolute;
  z-index: 9999;
  top: 10px;
  
}

.menu{
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 30px;
  margin-top: 2px;
  position: fixed;
}

.menu_container{
  position: absolute;
  width: 100%;
  max-height: 100% !important;
  background-color: rgba(0.2, 0.2, 0.2, 0.8);
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  position: fixed;
   
}

.link_menu{
  display: inline-flex;
  height: 50px;
  overflow: hidden;
  text-transform: uppercase;
font-family: "Syncopate", sans-serif;





}

.btn_close{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 58%;
  height: 58px;
  position: absolute;
  top: 10px;
  right: 4px;
  cursor: pointer;
  padding: 0 20px;

}



a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0px;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: rgb(230, 230, 230);
}

h2 {
  /* color: black; */
  color: rgb(230, 230, 230);

  font-weight: bold;
  font-size: 1.6rem;
}

h3 {
  font-weight: 200;
  font-size: 1.2rem;
  /* color: black; */
  color: rgb(230, 230, 230);
}

/* links */
h5 {
  font-size: medium;

}

.loader {
  background-color: rebeccapurple;
  z-index: 1000;
}

.video {
  margin-top: 100px;
  position: relative;
}

.iconContainer {
  padding: 0 7px;
}

.emailLink {
   color: "#bfbfbf";
  text-decoration: underline;
}
.closeIcon {
  position: absolute;
  top: 26px;
  right: 22px;
  cursor: pointer;

}

.arrow {
  position: absolute;
  top: 60px;
  left: 55px;
}

.overlayMenu {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 40%;
}

/* Modal */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0.8, 0.8, 0.8, 0.7);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  /*  background: rgb(51, 51, 51); */
  border-radius: 5px;
  color: whitesmoke;
  display: inline;
  max-height: 650px;
  max-width: 500px;
  outline: none;
  padding: 10px;
  text-align: center;
}

.link {
  font-family: "Syncopate", sans-serif;
  font-size: 0.7rem;
  color: white;
  font-weight: 1000;
  z-index: 1000;
  position: fixed;
  top: 70%;
  left: 51%;
  transform: translateX(-51%);
}

@media screen and (max-width: 40em) {
  .video {
    margin-top: 50px;
  }

  .emailLink {
    font-size: small;
  }

  .arrow {
    top: 30px;
    left: 25px;
  }

  .gallery {
    font-size: 1rem;
  }
}

.menu{
  right: 5px;
}

.link_menu{
  font-size: 12px;
}



@media screen and (max-width: 64em) {

  

 
h5{
  font-size: 14px;
  padding: 0;
  margin: 0;
}

}